@tailwind base;
@tailwind components;
@tailwind utilities;

html.light {
  @apply bg-white text-text4;
}

html.dark {
  @apply bg-black text-white;
}

.recordContainer {
  @apply absolute px-5 py-1 flex justify-between gap-5  top-10 left-5 rounded-md text-3xl;
  border: 1px solid theme("colors.border1");
  box-shadow: theme("colors.shadow1");
  background-color: theme("colors.background1");
  color: theme("colors.text1");
  .iconWrapper {
    @apply cursor-pointer flex justify-center items-center rounded-md;

    &:hover,
    &.active {
      background-color: theme("colors.text2");
    }
    .icon {
      color: theme("colors.text1");
      font-size: 20px;
    }
  }
}
