/* Button.module.css */
/* ButtonStyles.css */

/* RecButton.module.css */

/* Block: Button */
.btn-rec {
    background-color: #1a4a7b; /* Blue-500 */
    color: #ffffff; /* White */
    border-color: #1c3faa; /* Blue-700 */

    &:hover {
        background-color: #2a6da7; /* Blue-400 */
        border-color: #2a6da7; /* Blue-500 */
    }

    &.active {
        background-color: #2a6da7; /* Blue-500 */
        border-color: #1c3faa; /* Blue-700 */
    }

    /* Additional styles */
    font-weight: bold;
    padding: 0.5rem 1rem;
    border-width: 0.25rem;
    border-radius: 0.5rem;
}

/* Block: Download Button */
.btn-download {
    background-color: #2ca25f; /* Green-500 */
    color: #ffffff; /* White */
    border-color: #238b45; /* Green-700 */

    &:hover {
        background-color: #41ab5d; /* Green-400 */
        border-color: #41ab5d; /* Green-500 */
    }

    &.active {
        background-color: #41ab5d; /* Green-500 */
        border-color: #238b45; /* Green-700 */
    }

    /* Additional styles */
    font-weight: bold;
    padding: 0.5rem 1rem;
    border-width: 0.25rem;
    border-radius: 0.5rem;
}
/* RecButton.module.css */
.cameraOverlay {
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 9999;
}

